.item {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
  }
  
  .target {
    width: 200px;
    min-height: 200px;
    border: 1px solid grey;
  }

  .item-container {
    width: 200px;
    min-height: 200px;
    border: 1px solid grey;
   
  }